:root {
  --primary: rgb(18, 19, 24); /*464646*/
  --secondary: rgb(69, 71, 80);
  --accent: #1ca5aa;
  --text-color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
  height: auto;
  display: flex;
  align-items: center;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

h1 {
  font-size: 28px;
}

input[type="text"] {
  height: 48px;
  background-color: var(--secondary);
  border: none;

  padding: 8px 12px;
  outline: none;
  caret-color: white;
  color: white;
  font-size: 16px;

  border-radius: 8px;

  transition: all 0.2s;
}

button {
  height: 48px;
  background-color: var(--secondary);
  border: none;
  border-radius: 8px;
  transition: all 0.2s;
  font-weight: bold;
  font-size: 24px;
  color: white;
}

button:hover {
  cursor: pointer;
  transform: scale(1.06);
}

button:active {
  transition: all 0.05s;
  transform: scale(0.97);
}

body {
  background-color: var(--primary);
  height: 100vh;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: center;
  padding: 20px 8px;
  border-bottom: 2px solid var(--secondary);
}

main {
  padding: 24px 0;
  display: grid;
  justify-items: center;
}

.guesses {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  width: min(512px, 100vw);
  padding: 16px;
}

.try-box {
  border: 2px solid white;
  padding: 4px 8px;
  border-radius: 8px;
}

.try-box p {
  height: 28px;
  font-size: 20px;
}

.control-wrapper {
  width: min(736px, 100vw);
  padding: 16px;
}

.controls {
  display: grid;
  grid-template-columns: 96px 1fr 96px;
  grid-template-rows: 48px 48px;
  gap: 16px;
  justify-content: center;
}

.play {
  grid-row: 1/2;
  grid-column: 2/3;
  background-color: rgb(163, 240, 76);
}

.play:hover {
  transform: scale(1.02);
}

.play:active {
  transition: all 0.05s;
  transform: scale(0.99);
}

.skip {
  background-color: rgb(235, 91, 91);
  grid-column: 1/2;
  grid-row: 2/3;
}

.skip:hover {
  background-color: rgb(245, 98, 98);
}

.search {
  grid-column: 2/3;
  grid-row: 2/3;
}

.search:hover {
  transform: scale(1.02);
}

.search:focus {
  transform: scale(1);
  background-color: rgb(76, 78, 87);
}

.search::placeholder {
  color: rgb(175, 175, 175);
}

.enter {
  grid-column: 3/4;
  grid-row: 2/3;
  background-color: rgb(80, 185, 255);
}

#youtube-audio {
  width: 150px;
  margin: 2em auto;
  cursor: pointer;
  cursor: hand;
  display: none;
}
