:root {
  --primary: rgb(18, 19, 24); /*464646*/
  --secondary: rgb(69, 71, 80);
  --accent: #1ca5aa;
  --text-color: white;

  --progress: -100%;
}

@font-face {
  font-family: "SF Distant Galaxy Font";
  src: url(./assets/SfDistantGalaxy-0l3d.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
  height: auto;
  display: flex;
  align-items: center;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

h1 {
  font-size: 28px;
}

input[type="text"] {
  height: 48px;
  background-color: var(--secondary);
  border: none;

  padding: 8px 12px;
  outline: none;
  caret-color: white;
  color: white;
  font-size: 16px;

  border-radius: 8px;

  transition: all 0.2s;
}

button {
  height: 48px;
  background-color: var(--secondary);
  border: none;
  border-radius: 8px;
  transition: all 0.2s;
  font-weight: bold;
  font-size: 24px;
  color: white;
}

button:hover {
  cursor: pointer;
  transform: scale(1.06);
}

button:active {
  transition: all 0.05s;
  transform: scale(0.97);
}

body {
  background-color: var(--primary);
  height: 100vh;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: center;
  padding: 20px 8px;
  border-bottom: 2px solid var(--secondary);
}

main {
  padding: 24px 0;
  display: grid;
  justify-items: center;
}

.guesses {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  width: min(512px, 100vw);
  padding: 16px;
}

.try-box {
  border: 2px solid white;
  padding: 4px 8px;
  border-radius: 8px;
}

.try-box p {
  height: 28px;
  font-size: 20px;
}

.control-wrapper {
  width: min(728px, 100vw);
  padding: 16px;
}

.controls {
  display: grid;
  grid-template-columns: 96px 1fr 96px;
  grid-template-rows: 48px 16px 48px;
  gap: 12px;
  justify-content: center;
}

.speed-multiplier {
  font-family: "SF Distant Galaxy Font";
  font-size: 32px;
  align-self: self-end;
}

.play {
  grid-row: 1/2;
  grid-column: 2/3;
  background-color: rgb(148, 221, 64);
  width: 96px;
  margin: auto;
}

.duration {
  justify-self: right;
  align-self: self-end;

  font-weight: bold;
  font-size: 16px;
}

.song-progress {
  grid-row: 2/3;
  grid-column: 1/4;

  background-color: var(--secondary);
  border-radius: 8px;

  overflow: hidden;

  position: relative;
}

.song-progress::before {
  content: "";
  position: absolute;
  left: var(--progress);
  top: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  display: block;
}

.skip {
  background-color: rgb(235, 91, 91);
  grid-column: 1/2;
  grid-row: 3/4;
}

.skip:hover {
  background-color: rgb(245, 98, 98);
}

.search {
  grid-column: 2/3;
  grid-row: 3/4;
}

.search:hover {
  transform: scale(1.02);
}

.search:focus {
  transform: scale(1);
  background-color: rgb(76, 78, 87);
}

.search::placeholder {
  color: rgb(175, 175, 175);
}

.enter {
  grid-column: 3/4;
  grid-row: 3/4;
  background-color: rgb(80, 185, 255);
}

.forward {
  height: 100px;
  width: 100px;

  background-color: var(--primary);
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transform: scale(0.48) rotate(-90deg) scaleY(-1);
}

.forward-ring {
  height: 100px;
  width: 100px;

  background-color: var(--primary);
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.forward:hover .forward-ring {
  animation: slight-spinny 0.1s ease-in-out forwards;
  cursor: pointer;
}

.forward:active .forward-ring {
  animation: spinny 0.3s ease-in-out forwards;
}

.forward > * {
  grid-row: 1/2;
  grid-column: 1/2;
}

.forward-ring > * {
  grid-row: 1/2;
  grid-column: 1/2;
}

.triangle {
  height: 15px;
  width: 30px;
  overflow: hidden;
  position: relative;
  transform: translate(-50%, -50%);
  left: 90%;
  bottom: -50%;
}

.triangle2 {
  background-color: white;
  height: 18px;
  width: 18px;

  transform: translate(-50%, 50%) rotate(45deg);

  position: absolute;
  left: 50%;
  bottom: 0;
}

.circle1 {
  position: relative;

  justify-self: center;
  align-self: center;
  height: 86px;
  width: 86px;
  background-color: white;
  border-radius: 50%;
}

.circle2 {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;

  height: 74px;
  width: 74px;
  border-radius: 50%;
  background-color: var(--primary);
}

.corner-cut {
  background-color: var(--primary);
  position: absolute;
  height: 50%;
  width: 50%;
  left: 50%;
  top: 0;
}

.forward label {
  justify-self: center;
  align-self: center;

  transform: translateX(2px) rotate(90deg) scaleX(-1);
  font-size: 48px;
  font-weight: bold;
  z-index: 1;
}

.forward:hover label {
  cursor: pointer;
}

@keyframes spinny {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes slight-spinny {
  100% {
    transform: rotate(-15deg);
  }
}
